#sub-offer .inner-container {
  max-width: 960px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sub-offer .title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sub-offer input {
  border: none;
  border-bottom: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  width: 500px;
  text-align: center;
  font-size: 15px;
  line-height: 21px;
  padding-bottom: 10px;
  margin: 40px 0 30px;
  font-family: inherit;
}

#sub-offer input::placeholder {
  color: var(--secondary-text-color);
}

#sub-offer input:focus {
  outline: none;
}
